* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    font-style: normal;
}

%flex-item {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
    height: 300px;
}

$color-font: #b69078;

body {
    background-color: #fff;
    margin: auto;
    max-width: 1120px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 2;
    background-color: #fff;
    padding: 15px 0;
    width: 1120px;
    cursor: pointer;

    .img-logo {
        background-image: url(./assets/tild6366-3462-4534-a566-373335373461____-4.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 300px;
        height: 70px;
    }

    nav {
        ul {
            list-style-type: none;
            display: flex;
            justify-content: space-between;

            li {
                color: black;
                font: 700 18px 'Montserrat';
            }

            li:hover {
                color: #b69078;
            }

            li:not(:last-child) {
                margin-right: 37px;
            }
        }
    }
}

main {
    display: flex;
    margin-top: 100px;

    .products {
        width: 70%;

        .row {
            display: flex;
            justify-content: space-between;
            color: #b69078;
            font-size: 17px;
            font-weight: 600;
            margin-bottom: 30px;

            .pic1 {
                background-image: url(./assets/pic1.jpg);
                @extend %flex-item;
            }

            .pic2 {
                background-image: url(./assets/pic2.jpg);
                @extend %flex-item;
            }

            .pic3 {
                background-image: url(./assets/pic3.jpg);
                @extend %flex-item;
            }

            .pic4 {
                background-image: url(./assets/pic4.jpg);
                @extend %flex-item;
            }

            .pic5 {
                background-image: url(./assets/pic5.jpg);
                @extend %flex-item;
            }

            .pic6 {
                background-image: url(./assets/pic6.png);
                @extend %flex-item;
            }

            .pic7 {
                background-image: url(./assets/pic7.jpg);
                @extend %flex-item;
            }

            .pic8 {
                background-image: url(./assets/pic8.png);
                @extend %flex-item;
            }

            .pic9 {
                background-image: url(./assets/pic9.png);
                @extend %flex-item;
            }

            .add-to-cart {
                display: flex;
                justify-content: space-between;

                .buy {
                    background-image: url(./assets/79617.png);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }

    .cart {
        right: 5%;
        height: 70px;
        position: fixed;
        border: 2px solid #b69078;
        padding: 1% 5% 30% 5%;
        width: 150px;

        h1 {
            color: #b69078;
            font-size: 35px;
            font-weight: 750;
            text-align: center;
        }

        .cart-div {
            display: flex;
            justify-content: space-between;
            width: 200px;
        }

        .result {
            color: black;
            font-size: 20px;
            font-weight: 600;
            margin-top: 200%;
        }

        button {
            color: #ffffff;
            background-color: #d8664d;
            text-align: center;
            height: 30px;
            padding-left: 40px;
            padding-right: 40px;
            border: 0 none;
            font-size: 16px;
            font-weight: 700;
        }
    }
}